if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[VIEW_SC1030]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[VIEW_SC1030]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DUP_SALDO_SB2010]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[DUP_SALDO_SB2010]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[VIEW_SC1010]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[VIEW_SC1010]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO



CREATE  VIEW DUP_SALDO_SB2010 AS
SELECT COUNT(*)AS TOT_DUP, B2_COD FROM SB2010  GROUP BY B2_COD HAVING COUNT(*) > 2  



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW VIEW_SC1010 AS
SELECT DISTINCT 
C1_FILIAL,
C1_NUM,
C1_ITEM,
C1_NUMCIEE,
D_E_L_E_T_
FROM SC1010 SC1
WHERE SC1.D_E_L_E_T_ = ' '




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE VIEW VIEW_SC1030 AS
SELECT DISTINCT
C1_FILIAL,
C1_NUM, 
C1_ITEM, 
C1_NUMCIEE, 
D_E_L_E_T_ 
FROM SC1030 SC1 
WHERE SC1.D_E_L_E_T_ = ' ' 

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

